@page
@model ScannerWeb.Pages.Skanery.SkanerModel
@{
    
    <div class="mb-4">
        <span class="display-6">Dodaj dane dla nowego skanera:</span>
    </div>

    <div class="mb-3 row">
        <label for="idBudynku" class="col-form-label col-sm-2">Id Budynku</label>
        <input asp-for="idBudynku" type="text" class="col-form-control col-sm-4" id="idBudynku" placeholder="Podaj ID budynku:">
        <span asp-validation-for="idBudynku" class="text-danger"></span>
     </div>

    <div class="mb-3 row">
        <label for="typAutoryzacji" class="col-form-label col-sm-2">Typ autoryzacji (karta/kod)</label>
        <input asp-for="typAutoryzacji" type="text" class="col-form-control col-sm-4" id="typAutoryzacji" placeholder="Podaj typ autoryzacji:">
        <span asp-validation-for="typAutoryzacji" class="text-danger"></span>
    </div>

    <div class="mb-3 row">
        <label for="kodOtwarcia" class="col-form-label col-sm-2">Kod otwarcia</label>
        <input asp-for="kodOtwarcia" type="text" class="col-form-control col-sm-4" id="kodOtwarcia" placeholder="Podaj kod wymagany do otwarcia:">
        <span asp-validation-for="kodOtwarcia" class="text-danger"></span>
    </div>

    <div class="mb-3 row">
        <label for="poziomDostepu" class="col-form-label col-sm-2">Poziom dostępu</label>
        <input asp-for="poziomDostepu" type="text" class="col-form-control col-sm-4" id="poziomDostepu" placeholder="Podaj poziom dostępu:">
        <span asp-validation-for="poziomDostepu" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Dodaj" id="submitButton" />

}
