@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Mapa skanerów</p>
    <img src="~/lib/mapa.png" alt="mapOfScanners" class="img-thumbnail" />
</div>
