@page
@model ScannerWeb.Pages.SuccessModel
@{
	
}

<div class="text-center">
	<h1 class="display-4">Dane zostały pomyślnie dodane do bazy!</h1>
	<br/>
	<p>Dodaj nowy rekord klikając w poniższy guzik</p>
	<br />
	<div class="text-center">
		<a href="/Dodaj/Skanery/Skaner" class="btn btn-primary">Dodaj nowy skaner</a>&emsp;
		<a href="/Dodaj/Pracownik/Pracownik" class="btn btn-primary">Dodaj nowego pracownika</a>&emsp;
		<a href="/Dodaj/Budynek/Budynek" class="btn btn-primary">Dodaj nowy budynek</a>&emsp;
		<a href="/Dodaj/Karty/Karty" class="btn btn-primary">Dodaj nową kartę</a>
	</div>
</div>
