@page
@model ScannerWeb.Pages.Dodaj.PracownikModel
@{
    
<div class="mb-4">
    <span class="display-6">Dodaj dane dla nowego pracownika:</span>
</div>
        <form method="post">
            
            <div class="mb-3 row">
                    <label asp-for="Pracownik.Imie" class="col-form-label col-sm-2"></label>
                <input type="text" asp-for="Pracownik.Imie" class="col-form-control col-sm-4" placeholder="Podaj imię pracownika:" />
                <span asp-validation-for="Pracownik.Imie" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Pracownik.Nazwisko" class="col-form-label col-sm-2"></label>
                <input type="text" asp-for="Pracownik.Nazwisko" class="col-form-control col-sm-4" placeholder="Podaj nazwisko pracownika:" />
                <span asp-validation-for="Pracownik.Nazwisko" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Pracownik.Pesel" class="col-form-label col-sm-2"></label>
                <input type="number" asp-for="Pracownik.Pesel" class="col-form-control col-sm-4" placeholder="Podaj pesel pracownika:" />
                <span asp-validation-for="Pracownik.Pesel" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Pracownik.NumerTelefonu" class="col-form-label col-sm-2"></label>
                <input type="text" asp-for="Pracownik.NumerTelefonu" class="col-form-control col-sm-4" placeholder="Podaj numer telefonu pracownika:" />
                <span asp-validation-for="Pracownik.NumerTelefonu" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Pracownik.IdKarty" class="col-form-label col-sm-2"></label>
                <select asp-for="Pracownik.IdKarty" class="col-form-control col-sm-4" asp-items="ViewBag.IdKarty"></select>
            </div>
            <div class="mb-3 row">
                <label asp-for="Pracownik.PoziomDostepu" class="col-form-label col-sm-2"></label>
                <select asp-for="Pracownik.PoziomDostepu" class="col-form-control col-sm-4" placeholder="Podaj poziom dostępu dla pracownika:">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                <span asp-validation-for="Pracownik.PoziomDostepu" class="text-danger"></span>
            </div>
            
                <input type="submit" value="Dodaj" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="/Pracownik2">Wyczyść</a>
            
        </form>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
